@media  screen and (max-width: 420px) {
	header #my-logo, header nav, header nav ul li {
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	header nav ul li a {
		float: none;
		display: block;
		text-align: center;
		margin: 8px auto;
	}

	header nav ul li a:hover:not(.active) {
		border-bottom: none;
	}

	.home-text-content h1 {
		font-size: 29px;
	}

	.sign-in-page {
		left: 0;
		top: 80%;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		background-color: #000;
	}
}

