* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f4f4f4;
	font: 16px/1.5 Arial;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: orange;
	border-radius: 10px;
}


.container {
	width: 85%;
	margin: auto;
	overflow: hidden;
}

header:not(#tutorials-head) {
	width: 100%;
	height: 109vh;
	padding: 20px 0;
	background-image: url('../image/home.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

header:not(#tutorials-head)::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
}

.home-content {
	position: relative;
	z-index: 2;
}

#my-logo {
	float: left;
}

#my-logo h1 {
	color: orange;
	margin: 0;
	font-size: 40px;
}

header nav {
	float: right;
	margin-top: 20px;
}

/*input [type=search], .s-btn {
	float: right;
}*/

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	float: left;
	margin-left: 50px;
	display: inline-block;
}

header nav ul li::after {
	content: '';
	width: 0;
	margin: auto;
	display: block;
	height: 2px;
	background: #fff;
	transition: 0.5s;
}

header nav ul li:hover::after {
    width: 100%;
}

header nav ul li a {
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	color: orange;
	display: block;
	transition: 0.5s ease;
}

header nav ul li a.active {
	color: rgb(255,255,255);
}

header nav ul li a:hover:not(.active) {
	color: rgb(255,255,255);
}

.home-text-content {
	width: 55%;
	z-index: 2;
	position: absolute;
	top: 33%;
	word-wrap: break-word;

}

.home-text-content h1 {
	font-size: 35px;
	color: orange;
	margin-top: 0;
	margin-bottom: 10px;
}

.home-text-content span {
	color: #fff;
}

.home-text-content p {
	font-size: 18px;
	color: #fff;
	letter-spacing: 1.2px;
}

.home-text-content .h-btn {
	border: none;
	outline: none;
	font-family: Arial;
	padding: 8px 16px;
	margin-top: 10px;
	font-size: 18px;
	/*text-transform: uppercase;*/
	cursor: pointer;
	background-color: orange;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: 0.5s ease;
}

.home-text-content .h-btn:hover {
	background-color: rgb(255,0,0);
	color: #fff;
	outline: 1px solid #fff;
	outline-offset: 3px;
}

.sign-in-page {
	width: 22%;
	height: 50vh;
	position: absolute;
	top: 33%;
	left: 65%;
	z-index: 2;
	padding: 9px 18px;
	background-color: rgba(0,0,0,0.45);
	border-radius: 7px;
}

.sign-in-page h1 {
	text-align: center;
	color: orange;
	font-size: 25px;
}

.sign-in-page input[type=text], input[type=password] {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	padding: 12px 0;
	margin: 15px 0;
	color: #fff;
	display: block;
	font-size: 17px;
	background-color: transparent;
	border-bottom: 1px solid orange;
	border-right: none;
	border-left: none;
	border-top: none;
	transition: 0.5s ease;
}

input[type=submit] {
	width: 100%;
	height: 40px;
	font-family: Arial;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 10px 0;
	display: block;
	font-size: 18px;
	border-radius: 10px;
	background-color: orange;
	font-weight: bold;
	border: none;
	outline: none;
	letter-spacing: 1px;
	transition: 0.5s ease;
}

.sign-in-page input[type=text]:focus, input[type=password]:focus {
	border-bottom: 1px solid rgb(255,0,0);
	border-right: none;
	border-left: none;
	border-top: none;
	outline: none;
}

input[type=submit]:hover {
	background-color: rgb(255,0,0);
	color: #fff;
	outline: 1px solid #fff;
	outline-offset: 3px;
}

::placeholder {
	color: #fff;
}

.sign-in-page a {
	display: block;
	text-decoration: none;
	color: #fff;
	transition: 0.5s ease;
}

.sign-in-page p {
	color: #fff;
	text-align: center;
}

.sign-in-page p#head {
	font-weight: bold;
}

.sign-in-page a:hover {
	color: orange;
}



/*........................Tutorial page styling.......................*/

header#tutorials-head {
	background-color: #222;
	padding: 20px 0;
	border-bottom: 5px solid #000;
}

section#tutorials-content {
	width: 100%;
    height: auto;
	background-image: url('../image/4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	position: relative;
	padding-bottom: 30px;
}

section#tutorials-content::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

section#tutorials-content h1 {
	position: relative;
	margin-top: 60px;
	font-size: 30px;
	margin-bottom: 10px;
	color: #fff;
	z-index: 2;
}

section#tutorials-content p {
	position: relative;
	font-size: 20px;
	z-index: 2;
	color: #fff;
}

section.tutorials-row {
	position: relative;
	margin-top: 30px;
	z-index: 2;
}

article#tutorials-col {
	width: 30%;
	float: left;
	box-sizing: border-box;
	margin: 19px;
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
}

article#tutorials-col img {
	width: 30%;
	margin: auto;
	display: block;
}

article#tutorials-col h1 {
	text-align: center;
	margin: 10px 0;
	font-weight: bold;
	font-size: 20px;
	color: #000;
}

article#tutorials-col p {
	text-align: center;
	font-size: 16px;
	color: #000;
}

.tutorial-link {
	text-align: center;
}

.tutorial-link .t-btn {
	width: 100%;
	border: 1px solid #333;
	outline: none;
	font-family: Arial;
	padding: 8px 16px;
	margin-top: 10px;
	font-size: 18px;
	/*text-transform: uppercase;*/
	cursor: pointer;
	background-color: orange;
	border-radius: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: 0.5s ease;
}

.tutorial-link .t-btn:hover {
	background-color: rgb(255,0,0);
	color: #fff;
}




/*...................about-page-styling..................*/
header#about-header {
	width: 100%;
	height: 109vh;
	padding: 20px 0;
	background-image: url('../image/4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

header#about-header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
}

.about-main-content {
	color: #fff;
	width: 45%;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 35%;
	z-index: 2;
	word-wrap: break-word;
}

.about-main-content h1 {
	text-align: center;
	margin-bottom: 10px;
}

.about-sidebar {
	width: 25%;
	position: absolute;
	top: 23%;
	left: 60%;
	z-index: 2;
	color: #fff;
	border: 1px solid #cccccc;
	background-color: #000;
	border-radius: 30px;
	overflow: hidden;
}

.about-sidebar #dev-detail h1 {
	text-align: center;
	padding: 8px 0;
	background-color: rgb(255,0,0);
}

.about-sidebar #dev-detail img {
	width: 55%;
	margin: 10px auto;
	display: block;
}

.about-sidebar #dev-detail h1#title {
	text-align: center;
	background-color: unset;
}

.about-sidebar #dev-detail h2 {
	text-align: center;
}

.about-sidebar #dev-detail h3 {
	color: orange;
	text-indent: 25px;
	font-style: italic;
	letter-spacing: 1px;
}

.about-sidebar #dev-detail h4 {
	text-align: center;
	border-bottom: 1px solid orange;
}

.about-sidebar #dev-detail p {
	text-align: center;
}

.dev-social-link {
	text-align: center;
	margin: 10px auto;
}

.dev-social-link a {
	text-decoration: none;
	padding: 0 7px;
}

.dev-social-link img {
	width: 10%;
	border: 2px solid #000;
}

.dev-social-link img:hover {
	border-radius: 100%;
	border: 2px solid #fff;
	transition: 0.5s ease;
}



/*............contact-page...............*/
header#contact-header {
	width: 100%;
	height: 109vh;
	padding: 20px 0;
	background-image: url('../image/7.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

header#contact-header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
}

section.contact-form {
	width: 25%;
	height: auto;
	color: #fff;
	position: absolute;
	top: 28%;
	left: 20%;
	z-index: 2;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
	border-radius: 10px;
}

section.contact-form h1 {
	text-align: center;
	margin: 10px 0;
	font-size: 28px;
	color: orange;
}

section.contact-form h2 {
	text-align: center;
	font-size: 16px;
}

section.contact-form input[type=text], input[type=email] {
	background: transparent;
	display: block;
	margin: 10px 0;
	padding: 12px 20px;
	width: 100%;
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
	border-bottom: 1px solid orange;
	border-top: none;
	border-right: none;
	border-left: none;
	transition: 0.5s ease;
}

section.contact-form textarea {
	width: 100%;
	box-sizing: border-box;
	height: 80px;
	resize: none;
	background-color: transparent;
	border: 1px solid orange;
	font-size: 16px;
	font-family: Arial;
	padding: 12px;
	border-radius: 5px;
	transition: 0.5s ease;
	color: #fff;
}

section.contact-form input[type=text]:focus, input[type=email]:focus {
	outline: none;
	border-bottom: 1px solid rgb(255,0,0);
}

section.contact-form textarea:focus {
	outline: none;
	border: 1px solid rgb(255,0,0);
}

section.contact-address {
	width: 25%;
	position: absolute;
	top: 35%;
	right: 10%;
	z-index: 2;
	background-color: rgba(255,204,0,0.7);
	border-radius: 10px;
	padding: 20px;
}

section.contact-address img {
	width: 8%;
	display: block;
	margin: 6px auto;
}

section.contact-address h2 {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}